.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
/server/crawler/config.js
/server/task/qiniu/config.js
selenium-debug.log
README.md

# Editor directories and files
.idea
.vscode
*.svn
*.suo
*.ntvs*
*.njsproj
*.sln
